.container img {
    margin: 0 0 1em 1em;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.slider {
    margin: auto;
    position: relative;
    width: 100%;
    max-width: 600px;
    height: 50vh;
    margin-top: 5em;
    overflow: hidden;
}

.slide {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

@keyframes slideAnimation {

    0%,
    100% {
        opacity: 0;
    }

    5%,
    25% {
        opacity: 1;
    }

    30%,
    95% {
        opacity: 0;
    }
}

#slide1 {
    animation: slideAnimation 20s infinite;
}

#slide2 {
    animation: slideAnimation 20s infinite;
    animation-delay: 5s;
}

#slide3 {
    animation: slideAnimation 20s infinite;
    animation-delay: 10s;
}

#slide4 {
    animation: slideAnimation 20s infinite;
    animation-delay: 15s;
}

.slide img {
    width: 100%;
    height: auto;
}

@media (max-width: 712px) {
    .slider {
        max-width: 400px;
        height: 300px;
    }

    .slide img {
        width: 100%;
        height: auto;
    }
}